---
import Layout from '../layouts/Layout.astro'
import { Image } from 'astro:assets'
import { Picture } from 'astro:assets'
import EBNN1769 from '../images/EBNN1769.webp'
import EBNN1780 from '../images/EBNN1780.webp'
import EBNN1849 from '../images/EBNN1849.webp'
import EBNN1940 from '../images/EBNN1940.webp'
import EBNN1945 from '../images/EBNN1945.webp'
import EBNN1954 from '../images/EBNN1954.webp'
import EBNN2128 from '../images/EBNN2128.webp'
import EBNN2316 from '../images/EBNN2316.webp'
import EMMB1472 from '../images/EMMB1472.webp'
import EMMB1652 from '../images/EMMB1652.webp'
import EBNN1429 from '../images/EBNN1429.webp'
import EBNN1435 from '../images/EBNN1435.webp'
import EBNN1508 from '../images/EBNN1508.webp'
import EBNN1722 from '../images/EBNN1722.webp'
import EBNN2125 from '../images/EBNN2125.webp'
import EBNN1815 from '../images/EBNN1815.webp'
import EBNN2120 from '../images/EBNN2120.webp'
import EBNN1483 from '../images/EBNN1483.webp'
import EBNN1754 from '../images/EBNN1754.webp'
import EMMB1784 from '../images/EMMB1784.webp'
import EMMB1682 from '../images/EMMB1682.webp'
import logo from '../images/solstices.svg'
import logo_SC from '../images/logSC_reca.webp'
---

<Layout title="Solstices">
  <main>
    <div id="btn-reservation" class="btn-reservation">
      <p style="transform: translateY(-63%);">Réserver mon week-end</p>
    </div>
    <section style="height: 100vh; display: flex; flex-direction: column">
      <div style="display: flex; justify-content: center;">
        <Image id="logo" src={logo} alt="logo_solstices" class="logo-main" />
      </div>
      <div class="container" style="height: 100%">
        <div style="display: flex; justify-content: center;">
          <p style="font-style: italic; text-align: center;">
            Bien vivre ses propres révolutions est une oeuvre de l'esprit et du corps
          </p>
        </div>
        <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <div class="circle-hero-section">
            <Image id="logo" src={logo_SC} alt="logo_solstices" class="logo-sc" />
            <div class="container-logo">
              <p class="title-logo">du 21 au 23 Juin 2024</p>
              <p class="text-logo">“Les 1001 PREMIERS JOURS”</p>
              <p class="text-logo">Voyage éclairé dans la parentalité: le post-partum</p>
              <p class="text-logo">Week-end retraite</p>
              <p class="text-logo">à 1h30 de Marseille</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="photo-main">
      <Picture src={EBNN1849} alt="introspection_groupe" class="img-style" />
    </div>
    <div class="container" style="padding-bottom: 100px;">
      <section style="display: flex; justify-content: center; align-items: center;">
        <p class="container-text">
          Que votre maternité soit plus ou moins éloignée, elle a profondément modifié l’être que vous êtes et mérite un
          moment d’attention tout particulier. Solstices vous propose un voyage éclairé et éclairant au coeur de cette
          période au travers d’ateliers de développement personnels et des workshops de productions d’objets symboliques
        </p>
      </section>
      <div class="container scroll-container">
        <div class="scroll-contents">
          <Picture src={EBNN1722} alt="les_animatrices" class="img-scroll" />
        </div>
        <div class="scroll-contents">
          <Picture src={EBNN1429} alt="les_animatrices" class="img-scroll" />
        </div>
        <div class="scroll-contents">
          <Picture src={EBNN1508} alt="les_animatrices" class="img-scroll" />
        </div>
        <div class="scroll-contents">
          <Picture src={EBNN1435} alt="les_animatrices" class="img-scroll" />
        </div>
      </div>
      <div style="">
        <div style="display: flex; justify-content: center;">
          <p class="container-text">
            Entre exploration des injonctions, de la culpabilité et du désordre émotionnel qu’elle a suscitée, il s’agit
            de laisser libre cours à votre coeur et à et votre esprit créatif pour renouer avec cette expérience et se
            réancrer dans une projection sereine et confiante de la parentalité.
          </p>
        </div>
      </div>
      <div style="display: flex; justify-content: center;">
        <div class="container-text">
          <h1>Qui sommes nous</h1>
          <p>
            Pendant 2 jours, des ateliers animés par Charline, coach professionnelle certifiée et experte en transitions
            de vie et Mathilde, Artisane ébéniste formée à l'école Boulle.
          </p>
        </div>
      </div>
      <div class="container scroll-container">
        <div class="scroll-contents">
          <Picture src={EBNN1954} alt="les_animatrices" class="img-scroll" />
        </div>
        <div class="scroll-contents">
          <Picture src={EBNN2125} alt="les_animatrices" class="img-scroll" />
        </div>
        <div class="scroll-contents">
          <Picture src={EBNN1483} alt="les_animatrices" class="img-scroll" />
        </div>
      </div>
      <div style="display: flex; justify-content: center; padding-top: 150px">
        <div class="card">
          <h1 style="margin-bottom: 25px">Au programme</h1>
          <div style="display: flex; flex-direction: column; gap: 20px;">
            <p class="text-card">☀️ <span>Méditation d'ancrage</span></p>
            <p class="text-card">☀️ <span>Éveil corporel</span></p>
            <p class="text-card">☀️ <span>Atelier d'introspection (écriture, dessin...)</span></p>
            <p class="text-card">☀️ <span>Cercles de partages</span></p>
            <p class="text-card">☀️ <span>Atelier matières et création d'objet</span></p>
            <p class="text-card">☀️ <span>Immersion nature et découverte des alentours</span></p>
            <p class="text-card">☀️ <span>Apéros dinatoires & plus si affinités :)</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container scroll-container">
      <div class="scroll-contents">
        <Picture src={EMMB1682} alt="les_animatrices" class="img-scroll" />
      </div>
      <div class="scroll-contents">
        <Picture src={EBNN1754} alt="les_animatrices" class="img-scroll" />
      </div>
      <div class="scroll-contents">
        <Picture src={EBNN1815} alt="les_animatrices" class="img-scroll" />
      </div>
      <div class="scroll-contents">
        <Picture src={EBNN2120} alt="les_animatrices" class="img-scroll" />
      </div>
      <div class="scroll-contents">
        <Picture src={EBNN2316} alt="les_animatrices" class="img-scroll" />
      </div>
      <div class="scroll-contents">
        <Picture src={EMMB1784} alt="les_animatrices" class="img-scroll" />
      </div>
    </div>
    <div class="container">
      <section>
        <div style="width: 80%; display: flex; justify-content: center; margin: 0 auto; padding-top: 150px">
          <h1>Témoignages</h1>
        </div>
        <div class="carousel">
          <div class="carousel-inner" style="width: 80%">
            <div class="carousel-item active">
              <p style="font-style: italic;">
                ”Je me sens plus alignée, libérée d’avoir pu partager mon expérience du post-partum et heureuse d’avoir
                écouté le récit d’autres femmes. Ce qui m’a plu, c’est l’espace de parole libre créé, d’avoir le temps
                d’échanger tranquillement, sans jugement, de se sentir en confiance et écoutée. J’ai aussi adoré
                l’atelier bois qui nous a permis de fabriquer un objet en étant guidée sans être assistée en permanence.
                Chacune allait à son rythme, c’était détendu, sans pression. L’atelier a été très bien pensé. On a
                fabriqué quelque chose de beau en quelques heures :).“
              </p>
              <p style="margin-top: 10px; font-weight: bold">Ophélie</p>
            </div>
            <div class="carousel-item">
              <p style="font-style: italic;">
                “J’ai aimé la totalité de l’expérience. Ce mix entre introspection et confection fait de l’expérience un
                tout riche et complémentaire. Ces deux facettes permettent de vraiment déconnecter et prendre un moment
                rien qu’à soi. Je pense de plus que c’est assez original que cela soit porté par un duo avec des
                compétences si diverses et à la fois très complémentaires”
              </p>
              <p style="margin-top: 10px; font-weight: bold">Anne Claire</p>
            </div>
            <div class="carousel-item">
              <p style="font-style: italic;">
                ”Ce qui m’a plu c’est le lâcher prise et l’échange avec les personnes présentes, écouter leur ressenti
                et expérience de vie”
              </p>
              <p style="margin-top: 10px; font-weight: bold">Mélina</p>
            </div>
            <div class="carousel-item">
              <p style="font-style: italic;">
                “J’ai beaucoup aimé le fait que cela soit très équilibré entre nous, très doux, très ouvert. Je me suis
                sentie apaisée et plus forte.”
              </p>
              <p style="margin-top: 10px; font-weight: bold">Pauline</p>
            </div>
          </div>
          <div id="nextButton" class="btn-carousel" style="right: -5%;">
            <svg
              version="1.1"
              id="icons_1_"
              xmlns="http://www.w3.org/2000/svg"
              x="0"
              y="0"
              viewBox="0 0 128 128"
              style="enable-background:new 0 0 128 128"
              xml:space="preserve"
              ><style>
                .st0 {
                  display: none;
                }
                .st1 {
                  display: inline;
                }
                .st2 {
                  fill: #0a0a0a;
                }
              </style><g id="row1_1_"
                ><g id="_x31__3_"
                  ><path
                    class="st2"
                    d="M64 0C28.7 0 0 28.7 0 64s28.7 64 64 64 64-28.7 64-64S99.3 0 64 0zm0 121.6C32.2 121.6 6.4 95.8 6.4 64S32.2 6.4 64 6.4s57.6 25.8 57.6 57.6-25.8 57.6-57.6 57.6zM49.2 38.4 73.6 64 49.2 89.6h13.5L86.4 64 62.7 38.4H49.2z"
                    id="_x32__2_"></path></g
                ></g
              ></svg
            >
          </div>
          <div id="prevButton" class="btn-carousel" style="left: -5%;">
            <svg
              version="1.1"
              id="icons_1_"
              xmlns="http://www.w3.org/2000/svg"
              x="0"
              y="0"
              viewBox="0 0 128 128"
              style="enable-background:new 0 0 128 128"
              xml:space="preserve"
              ><style>
                .st0 {
                  display: none;
                }
                .st1 {
                  display: inline;
                }
                .st2 {
                  fill: #0a0a0a;
                }
              </style><g id="row2_1_"
                ><g id="_x31__4_"
                  ><path
                    class="st2"
                    d="M64 .3C28.7.3 0 28.8 0 64s28.7 63.7 64 63.7 64-28.5 64-63.7S99.3.3 64 .3zm0 121C32.2 121.3 6.4 95.7 6.4 64 6.4 32.3 32.2 6.7 64 6.7s57.6 25.7 57.6 57.3c0 31.7-25.8 57.3-57.6 57.3zm1.3-82.8L41.6 64l23.6 25.5h13.5L54.4 64l24.4-25.5H65.3z"
                    id="left_3_"></path></g
                ></g
              ></svg
            >
          </div>
        </div>
      </section>
      <!-- <div class="container scroll-container">
        <div class="scroll-contents">
          <Picture src={EMMB1652} alt="les_animatrices" class="img-scroll" />
        </div>
        <div class="scroll-contents">
          <Picture src={EMMB1472} alt="les_animatrices" class="img-scroll" />
        </div>
      </div> -->
    </div>
    <div class="container" style="display: flex; justify-content: center;">
      <div id="card-tarifs" class="card">
        <h1 style="margin-bottom: 25px">Tarifs et réservation</h1>
        <p class="tarif-font">€ 295,00</p>
        <div style="display: flex; flex-direction: column; gap: 20px;">
          <div style="display: flex; gap: 5px">
            <p style="flex: none">01 .</p>
            <p>Hébergement 2 nuits</p>
          </div>
          <div style="display: flex; gap: 5px">
            <p style="flex: none">02 .</p>
            <p>1/2 journée d’ateliers développement personnel</p>
          </div>
          <div style="display: flex; gap: 5px">
            <p style="flex: none">03 .</p>
            <p>1/2 journée d’ateliers créatifs</p>
          </div>
          <div style="display: flex; gap: 5px">
            <p style="flex: none">04 .</p>
            <p>Repas inclus (bio & local) et boissons (vins natures)</p>
          </div>
          <div style="display: flex; gap: 5px">
            <p style="flex: none">05 .</p>
            <p>Activités bien-être</p>
          </div>
          <div style="display: flex; gap: 5px">
            <p style="flex: none">06 .</p>
            <p>Matériaux objets et carnet de route coaching personnalisé</p>
          </div>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center;">
      <div class="btn-reservation-fixed">
        <p style="font-size: 24px">Réserver mon week-end</p>
      </div>
    </div>
  </main>
  <div class="footer-line" style="border-top: 2px solid black; width: 70%; margin: auto"></div>
  <div class="container">
    <div style="display: flex; flex-wrap: wrap; gap: 0px 100px">
      <h3><a href="https://www.instagram.com/solstices__ateliers/" target="_blank">Instagram</a></h3>
      <h3>
        <a href="mailto:solstices-ateliers@gmail.com">solstices.ateliers@gmail.com</a>
      </h3>
    </div>
    <div class="footer-details">
      <!-- <div>
        <p>©2024 Solstices ateliers singuliers.</p>
        <p>Conditions Générales de Vente — Politique de Confidentialité</p>
      </div> -->
      <div style="align-self: flex-end; flex-grow: 1; text-align: end">
        <p>Website par Vincent Monneger</p>
      </div>
    </div>
  </div>
</Layout>

<script>
  // declare const gsap: typeof import('gsap')

  document.addEventListener('DOMContentLoaded', () => {
    gsap.registerPlugin(ScrollTrigger)

    ScrollTrigger.normalizeScroll()

    const scrollContainers = Array.from(document.querySelectorAll('.scroll-container')) as HTMLElement[]

    scrollContainers.forEach((container) => {
      let totalWidth = 0
      const sections = Array.from(container.querySelectorAll('.scroll-contents')) as HTMLElement[]
      sections.forEach((element) => {
        totalWidth += element.offsetWidth
      })

      container.style.width = `${totalWidth}px`

      gsap.to(sections, {
        xPercent: -100 * (sections.length - 1),
        ease: 'none',
        scrollTrigger: {
          trigger: container,
          pin: true,
          scrub: 1,
          snap: 1 / (sections.length - 1),
          end: () => `+=${totalWidth}`,
        },
      })
    })

    const stickyButton = document.getElementById('btn-reservation') as HTMLElement
    const tarifCard = document.getElementById('card-tarifs') as HTMLElement
    const logo = document.getElementById('logo') as HTMLElement

    const observerForLogo = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (!entry.isIntersecting) {
            stickyButton?.classList.add('visible')
          } else {
            stickyButton?.classList.remove('visible')
          }
        })
      },
      { root: null, threshold: 0 }
    )

    const observerForTarifCard = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (!entry.isIntersecting) {
            if (stickyButton && tarifCard) {
              stickyButton.classList.add('visible')
            }
          } else {
            if (stickyButton) {
              stickyButton.classList.remove('visible')
            }
          }
        })
      },
      { root: null, threshold: 0, rootMargin: '0px 0px -350px 0px' }
    )

    observerForTarifCard.observe(tarifCard)
    observerForLogo.observe(logo)

    stickyButton.addEventListener('click', () => {
      tarifCard.scrollIntoView({ behavior: 'smooth' })
    })

    let currentIndex = 0

    function showSlides(n: number) {
      let slides = document.getElementsByClassName('carousel-item')
      if (n >= slides.length) {
        currentIndex = 0
      }
      if (n < 0) {
        currentIndex = slides.length - 1
      }
      for (let i = 0; i < slides.length; i++) {
        slides[i].classList.remove('active')
      }
      slides[currentIndex].classList.add('active')
    }

    function moveSlide(n: number) {
      showSlides((currentIndex += n))
    }

    // Initial display
    showSlides(currentIndex)

    // Add event listeners
    document.getElementById('prevButton')?.addEventListener('click', function () {
      moveSlide(-1)
    })

    document.getElementById('nextButton')?.addEventListener('click', function () {
      moveSlide(1)
    })
  })
</script>

<style>
  .container-logo {
    padding: 10px;
    color: white;
  }
  .logo-sc {
    width: 150px;
    height: auto;
  }
  .title-logo {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .text-logo {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .text-card {
    display: flex;
    gap: 5px;
  }
  .tarif-font {
    margin-bottom: 30px;
  }

  .carousel {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
  }

  .carousel-btn-container {
    width: 10%;
    position: relative;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: none;
    height: 500px;
  }

  .carousel-item.active {
    display: block;
  }

  .btn-carousel {
    width: 50px;
    position: absolute;
    top: 5%;
    cursor: pointer;
  }

  .prev,
  .next {
    position: absolute;
    top: 30%;
    padding: 30px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: transparent;
  }

  .prev {
    left: -5%;
  }

  .next {
    right: -5%;
  }

  .circle-hero-section {
    background-color: #fe8c70;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container {
    padding: 0px 30px;
  }

  .container-text {
    width: 50vw;
    padding-top: 9vw;
    padding-bottom: 9vw;
  }

  .scroll-container {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    position: relative;
    overflow: hidden;
  }

  .scroll-contents {
    /* width: 50vw;
    height: 90vh; */
    padding: 2rem;
    box-sizing: content-box;
  }

  .img-scroll {
    height: 90vh;
    width: 75vw;
    object-position: center;
    object-fit: contain;
  }

  .img-style {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .card {
    border: 2px solid black;
    border-radius: 8px;
    padding: 70px;
  }

  .btn-reservation {
    align-items: center;
    background: #fdd081;
    bottom: -100%;
    bottom: -200px;
    -webkit-clip-path: ellipse(50% 40% at 50% 50%);
    clip-path: ellipse(50% 40% at 50% 50%);
    display: flex;
    height: 200px;
    justify-content: center;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 50%);
    transform: scaleY(0.5) translate(-50%, 50%);
    transform-origin: 50% 50%;
    transition:
      bottom 0.5s ease-in 0.15s,
      transform 0.5s ease-in 0.15s,
      background 0.5s ease;
    width: min(95vw, 420px);
    will-change: transform;
    z-index: 1000;
    cursor: pointer;
  }

  .btn-reservation.visible {
    bottom: 0;
    transform: scaleY(1) translate(-50%, 50%);
    transition:
      bottom 0.5s ease-out,
      transform 0.5s ease-out,
      background 0.5s ease;
  }

  .btn-reservation.visible:hover {
    background: #e27a63;
  }

  .btn-reservation > * {
    opacity: 0;
    transition: opacity 0.25s ease-in 0s;
  }
  .btn-reservation.visible > * {
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
  }

  .btn-reservation-fixed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vw;
    margin-top: 50px;
    border: 1px solid black;
    width: 350px;
    height: 100px;
    background: #fdd081;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.5s ease;
  }

  .btn-reservation-fixed:hover {
    background: #e27a63;
  }

  a {
    text-decoration: none;
    color: black;
    position: relative;
  }

  a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .footer-line {
    padding-bottom: 40px;
  }

  .logo-main {
    max-width: 100%;
    height: auto;
    display: block;
    width: 800px;
    height: 200px;
  }

  section {
    min-height: 100vh;
  }
  .footer-details {
    display: flex;
    gap: 50px;
  }
  .footer-details p {
    font-size: 1.5vw;
  }

  @media (hover: hover) and (pointer: fine) {
    .btn-reservation.visible:hover {
      background: red;
    }
  }

  @media (max-width: 768px) {
    .tarif-font {
      font-size: 2rem;
    }
    .circle-hero-section {
      width: 300px;
      height: 300px;
    }
    .container {
      padding: 0px 10px;
    }
    .container-text {
      width: 90%;
      padding: 50px 0;
    }
    h3 {
      font-size: 20px;
    }
    h1 {
      font-size: 2rem;
    }

    .btn-carousel {
      width: 30px;
    }

    .card {
      padding: 27px;
    }

    .footer-line {
      padding-bottom: 20px;
    }

    .btn-reservation-fixed {
      height: 65px;
      width: 270px;
    }

    .btn-reservation-fixed p {
      font-size: 20px !important;
    }

    .logo-main {
      height: 190px;
      width: 500px;
    }
    .carousel {
      width: 90%;
    }
    .carousel-inner {
      width: 90%;
    }

    section {
      min-height: 60vh;
    }
    .footer-details {
      display: block;
    }
    .footer-details div:last-child {
      text-align: start !important;
    }

    .footer-details p {
      font-size: 12px;
    }
    .carousel-item {
      height: 750px;
    }
    /* .img-scroll {
      width: 75vw;
    } */
  }

  @media (min-width: 769px) and (max-width: 1200px) {
    .tarif-font {
      font-size: 2.5rem;
    }
    .circle-hero-section {
      width: 450px;
      height: 450px;
    }
    .container-text {
      width: 80%;
      padding: 150px 0;
    }
    .logo-main {
      height: 160px;
      width: 760px;
    }
    .logo-sc {
      width: 200px;
      height: auto;
    }
    .title-logo {
      font-size: 2rem;
      font-weight: 600;
    }
    .text-logo {
      font-size: 1.2rem;
      font-weight: 400;
    }
    .container-logo {
      padding: 40px;
    }
  }

  @media (min-width: 1201px) {
    .tarif-font {
      font-size: 3rem;
    }
    .circle-hero-section {
      width: 480px;
      height: 480px;
    }
    .container-text {
      width: 60%;
      padding: 150px 0;
    }

    .btn-reservation p {
      font-size: 26px;
    }
    .photo-main {
      min-height: 100vh;
    }
    .logo-sc {
      width: 250px;
      height: auto;
    }
    .title-logo {
      font-size: 2rem;
      font-weight: 600;
    }
    .text-logo {
      font-size: 1.2rem;
      font-weight: 400;
    }
    .container-logo {
      padding: 40px;
    }
  }
</style>
